{% from 'BtnCrudBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Control Panel{% endblock %}</title>
      {% stylesheets output='css/bootstrap.css'
        '../vendor/twitter/bootstrap/less/bootstrap.less'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
      {% endstylesheets %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      <style type="text/css">
        body {
          padding-top: 60px;
        }
      </style>
      {% stylesheets output='css/responsive.css'
        '../vendor/twitter/bootstrap/less/responsive.less'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
      {% endstylesheets %}
  </head>
  <body>
      {% block navbar %}
        {% include 'BtnCrudBundle::navbar.html.twig' %}
      {% endblock %}

      {% block body %}
        <div class="container">

          {{ block('breadcrumb') }}

          {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row-fluid">
                <div class="span12">
                {{ session_flash() }}
                </div>
            </div>
          {% endif %}

          <div class="row-fluid">
            {#
            <div class="span3">
              {% block sidebar %}
                <div class="well sidebar-nav">
                  <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                  </ul>
                </div><!--/.well -->
              {% endblock %}
            </div><!--/span-->
            #}
            <div class="span12">

              {% block content %}
                  content
              {% endblock %}
            </div><!--/span-->
          </div><!--/row-->
          <hr>

          <footer>
            <p>&copy; Moje inspiracje 2012</p>
          </footer>

        </div><!--/.fluid-container-->
      {% endblock %}

      {% javascripts "@app_js" %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
  </body>
</html>
