<tr id="time_{{ time.id }}" rel="{{ time.id }}">
    <td colspan="5">
        <form action="{{ path('update_time', { 'id': time.id }) }}" class="form-inline" id="editTime" autocomplete="off" novalidate="novalidate" method="post">
            {{ form_widget(form.created_at) }}

            <div class="input-append">
                {{ form_widget(form.time) }}<span class="add-on">h</span>
            </div>

            <div class="input-prepend">
                <span class="add-on">@</span>{{ form_widget(form.project, { 'attr': {'data-source': url('projects_autocomplete')} }) }}
            </div>

            {{ form_widget(form.description) }}
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_widget(form._token) }}
        </form>
    </td>
</tr>