{% extends 'BtnAppBundle::layout.html.twig' %}

{% block content %}
<div class="btn-group">
    <button class="btn">21 Sep</button>
    <button class="btn">22 Sep</button>
    <button class="btn active">Today</button>
    <button class="btn"><i class="icon-calendar"></i> Calendar</button>
</div>
<br/><br/>
<form action="{{ path('homepage') }}" class="form-inline">
    <div class="input-append">
        {{ form_widget(form.time) }}<span class="add-on">h</span>
    </div>
    <div class="input-prepend">
        <span class="add-on">@</span>{{ form_widget(form.project) }}<!-- <input type="text" class="input-small" placeholder="Project"> -->
    </div>
    {{ form_widget(form.description) }}
  <button type="submit" class="btn btn-primary">Log it</button>
  {{ form_widget(form._token) }}
</form>

<h4>Your Recent Entries</h4>
<table class="table table-striped">
    <tbody>
        {% for time in pagination %}
            <tr>
                <td>{{ time.createdAt|date('M d') }}</td>
                <td>{{ time.time }}h</td>
                <td>{{ time.project.name }} {% if time.billable %}<span class="label label-warning">billable</span>{% else %}<span class="label">unbillable</span>{% endif %}</td>
                <td>{{ time.description|nl2br }}</td>
                <td style="text-align: right">
                    <a class="btn btn-small" href="#"><i class="icon-pencil"></i> edit</a>
                    <a class="btn btn-small btn-danger" href="{{ path('delete_time', { 'id': time.id }) }}"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ pagination.render()|raw }}

{% endblock %}
