{% extends 'BtnAppBundle::layout.html.twig' %}

{% form_theme edit_form 'BtnCrudBundle:Form:fields.html.twig' %}

{% block content %}
    <form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well form-horizontal">
        <fieldset>
            <legend>Edit user {{ entity.username }}
                <div class="actions">
                    <a href="{{ path('user_password', {id: entity.id })}}" class="btn btn_default">Change password</a>
                    <a href="{{ path('user_email', {id: entity.id })}}" class="btn btn_default">Change email</a>
                    {% if entity.enabled %}
                        <a href="{{ path('user_disable', {id: entity.id })}}" class="btn btn_default">Disable account</a>
                    {% else %}
                        <a href="{{ path('user_confirm', {id: entity.id })}}" class="btn btn_default">Enable account</a>
                    {% endif %}

                </div>
            </legend>

            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.username) }}
            {{ form_row(edit_form.email) }}

            {{  form_rest(edit_form) }}
            <p>
                <button type="submit" class="btn btn-success">{% trans %}crud.save{% endtrans %}</button>
            </p>
        </fieldset>
    </form>

    <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post" id="deleteForm">
        {{ form_widget(delete_form) }}
        <a href="{{ path('user') }}" class="btn">
            &laquo; {% trans %}crud.back{% endtrans %}
        </a>
        <button type="submit" class="btn btn-danger" id="deleteItem">{% trans %}crud.delete{% endtrans %}</button>
    </form>

{% endblock %}
